// 全局scss样式
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  color: #ff007f;
  text-decoration: none;
}
img {
  vertical-align: bottom;
}

// 字体图标
@import url("./font_toutiao/iconfont.css");